@import "../../global.scss";

.contact {
    background-color: white;
    display: flex;

    @include mobile{
        flex-direction: column;
    }

    .left {
        flex: 1;
        overflow: hidden;

        img {
            height: 100%;

        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        

        .linkContainer {
            display: flex;
            align-items: center;
            margin-left: 30px;
            margin-bottom: 20px;

            @include mobile{
                margin: 0px;
            }

            .icon {
                font-size: 35px;
                margin-right: 5px;
                cursor: pointer;
            }

            span {
                font-size: 30px;
                font-weight: 500;
                cursor: pointer;

                @include mobile{
                    font-size: 20px;
                }
            }
        
        }

        h2 {
            font-size: 40px;
            margin-bottom: 8px;

            @include mobile{
                font-size: 30px;
            }
        }

        form {
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            input {
                width: 300px;
                height: 30px;
                font-size: 14px;
            }

            textarea {
                width: 300px;
                height: 200px;
                font-size: 14px;
            }

            button {
                width: 150px;
                height: 30px;
                color: white;
                background-color: #47B0AC;
                border: none;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }

            span {
                color: green;
            }
        }
    }
}